// INPUT BACKGROUND
$background-color-custom-input: var(--bg-input-color);
$background-color-custom-input-second-type: var(--gray-50);
$background-color-custom-input-invalid: rgba(221, 28, 28, 0.1);
$background-color-custom-input-focus: var(--bg-input-color-focus);
$background-color-custom-input-disabled: #e9ecef;

// INPUT
$input-color: var(--main-color);
$border-radius-input-rounded: 2px;
$border-color: var(--border-input);
$border-color-focus: var(--gray-500);
$border-color-second-type: rgba(233, 122, 40, 0.4);
$border-color-focus-second-type: var(--event-focus-color);
$separator-color: #d7d7d7;
$border-color-custom-input-invalid: #dc143c;
$primary-color: #0a0e6f;
$secondary-color: #d1c19a;
$input-font-size: 1rem;
$input-padding: 8px 16px;
$input-min-height: 46px;
$input-big-min-height: 48px;
$border-color-disabled: #8d8faa;

// LABEL
$label-padding-left: 0;
$label-font-size: var(--size-14);
$label-font-size-max-840: 1rem;
$label-font-family: var(--dm-sans);
$label-color: var(--gray-800);
$label-color-second-type: var(--gray-900);
$label-margin-bottom: 4px;
$label-font-weight: 500;

$box-shadow: none;

//// CHECKBOX
$checkbox-color: var(--gray-300);
$checkbox-label-color: $label-color;
$checkbox-background-color: var(--bg-input-color);
$checkbox-checked-background-color: var(--event-color);
$checkbox-border-radius: 2px;
$checkbox-size: 16px;
$checkbox-label-font-size: $label-font-size;
$checkbox-label-font-weight: var(--normal);

$required-asterisk-color: var(--gray-800);
$error-color: var(--error-color);
