.custom-checkbox {
  &.form-check {
    padding-left: 16px;
  }

  margin-bottom: 8px;

  .custom-control-input {
    left: 16px;
    top: 6px;
    width: $checkbox-size;
    height: $checkbox-size;
    cursor: pointer;
    z-index: 1;
    margin-top: 0;

    &:not(:disabled):active,
    &:not(:disabled):checked {
      & ~ .custom-control-label {
        &:before {
          background-color: $checkbox-background-color;
          box-shadow: $box-shadow !important;
          border-color: $checkbox-color;
        }

        &:after {
          background-size: 70%;
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23E97A28' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
        }
      }
    }

    &:disabled {
      cursor: not-allowed;

      ~ .custom-control-label::before, .custom-control-input:disabled ~ .custom-control-label {
        ::before, ::after {
          cursor: not-allowed;
          background-image: none !important;
        }
      }

    }

    &:focus:not(:checked) ~ .custom-control-label::before {
      border-color: $checkbox-color;
    }

    &:not(:disabled):active ~ .custom-control-label::before {
      color: $checkbox-background-color;
      background-color: $checkbox-background-color;
    }
  }

  .custom-control-label {
    font-size: $checkbox-label-font-size;
    color: $checkbox-label-color;
    padding-left: 8px;
    font-weight: $checkbox-label-font-weight;

    .text-danger {
      margin-left: 4px;
    }

    &:after,
    &:before {
      position: absolute;
      content: '';
    }

    &:after {
      left: -16px;
      top: 6px;
      width: $checkbox-size;
      height: $checkbox-size;
    }

    &:before {
      border-radius: $checkbox-border-radius;
      left: -16px;
      top: 6px;
      background-color: $checkbox-background-color;
      border: 1px solid $checkbox-color;
      height: $checkbox-size;
      width: $checkbox-size;
      box-shadow: $box-shadow !important;
    }
  }

  .tooltip-for-label {
    visibility: hidden;
    position: absolute;
    top: 20px !important;
    z-index: 1;
  }
}

// checkbox
.custom-checkbox-group {
  &.disabled {
    cursor: not-allowed !important;
  }

  &.radio-d-flex .form-control {
    display: flex;
    column-gap: 8px;
  }

  .form-control {
    background-color: transparent;

    .form-check {
      position: relative;
      color: #333333;
      margin: 4px 0;
    }
  }
}

