@import 'variables';
@import 'checkbox';
@import 'radio';
@import 'fileWrapper';
@import 'password';
@import 'textarea';

.custominput-upload-overlay {
  display: none;
}

textarea {
  box-shadow: none !important;
}

.custominput-upload {
  cursor: pointer;
}

.custominput-upload:hover .custominput-upload-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
}

.custom-input {
  margin-bottom: 8px;

  .form-group {
    margin-bottom: 0;
  }

  &.label-second-type label {
    font-size: $label-font-size;
    color: var(--side-color);
    letter-spacing: -0.2px;
    padding-left: 0;
  }

  .is-invalid .react-select__control,
  .form-group > .is-invalid {
    border-color: $border-color-custom-input-invalid !important;
    background-image: none;
  }

  &.disabled {
    .react-select {
      pointer-events: unset;
    }

    .react-select__multi-value__remove {
      display: none;
    }

    input,
    textarea {
      cursor: not-allowed;
      background-color: $background-color-custom-input-disabled !important;
      border-color: $border-color-disabled !important;
    }
  }

  .invalid-feedback {
    color: $error-color;
  }

  .input-wrapper-with-append {
    position: relative;

    input {
      padding-right: 50px;
    }

    .input-append-text {
      position: absolute;
      top: 0;
      line-height: $input-min-height;
      right: -10px;
      color: $label-color;
      font-size: $input-font-size;
      width: 38px;
      margin-left: 4px;
      margin-right: 8px;
      overflow: hidden;
    }
  }

  .react-datepicker-wrapper {
    width: 100%;
  }

  .react-datepicker__close-icon::after {
    padding: 0;
    background-color: var(--event-color);
    font-size: var(--size-14);
    font-family: var(--dm-sans);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .react-datepicker__close-icon {
    right: 8px;
  }

  .react-select .react-select__single-value,
  input {
    color: $input-color;
  }

  input {
    line-height: normal;
    padding: $input-padding;
    font-size: $input-font-size;
    border-color: $border-color;
    box-shadow: none !important;

    &.react-datepicker-time__input {
      border-color: transparent;
    }

    &.small {
      padding: 5px 8px;
    }
  }

  & > label {
    color: $label-color;
    padding-left: $label-padding-left;
    margin-bottom: $label-margin-bottom;
    font-size: $label-font-size;
    font-family: $label-font-family;
    line-height: $label-font-size;
    @media (max-width: 840px) {
      font-size: $label-font-size-max-840;
    }
  }

  .form-group > input,
  textarea,
  .react-select__control,
  .rc-tree-select-selection {
    border-radius: $border-radius-input-rounded;
    transition: border 0.3s, background 0.3s;
    min-height: $input-min-height;

    &.big {
      min-height: $input-big-min-height;
    }
  }

  .react-select.section-select {
    min-height: 32px;
  }

  .rc-tree-select-enabled .rc-tree-select-selection {
    &:hover,
    &:invalid:focus,
    &:focus {
      border-color: $separator-color;
      background: initial;
      box-shadow: none;
    }
  }

  .rc-tree-select-selection {
    box-shadow: none !important;
  }

  .react-select__control {
    box-shadow: none !important;
  }

  .form-group > input {
    border-color: $border-color;
    background-color: $background-color-custom-input;

    &:focus:not(:disabled):not(.disabled),
    &:hover:not(:disabled):not(.disabled) {
      &,
      & + .react-select__menu,
      & + .react-select__menu .react-select__option:not(.react-select__option--is-focused):not(.react-select__option--is-selected) {
        background-color: $background-color-custom-input-focus !important;
        border-color: $border-color-focus !important;
      }
    }
  }

  .react-select:not(.is-invalid) .react-select__control,
  .rc-tree-select:not(.rc-tree-select-open) .rc-tree-select-selection,
  textarea {
    &:not(.is-invalid):not(:disabled):not(.disabled):not(:hover):not(:focus):not(.react-select__control--menu-is-open):not(.react-select__control--is-disabled) {
      border-color: $border-color !important;
      background-color: $background-color-custom-input !important;
    }

    &:focus:not(:disabled):not(.disabled),
    &:hover:not(:disabled):not(.disabled),
    &.react-select__control--menu-is-open {
      &,
      & + .react-select__menu,
      & + .react-select__menu .react-select__option:not(.react-select__option--is-focused):not(.react-select__option--is-selected) {
        background-color: $background-color-custom-input-focus !important;
        border-color: $border-color-focus !important;
      }
    }
  }

  .react-select.section-select
    .react-select__control:not(.is-invalid):not(:disabled):not(.disabled):not(:hover):not(:focus):not(.react-select__control--menu-is-open):not(.react-select__control--is-disabled) {
    background-color: #463dae !important;
    border-color: #463dae !important;

    .react-select__single-value {
      color: var(--white);
    }
  }

  .react-select__control.react-select__control--menu-is-open,
  .rc-tree-select-open .rc-tree-select-selection {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  .react-select__menu {
    z-index: 2;
  }

  .react-select .react-select__menu,
  .react-select__menu-list,
  .react-select__value-container {
    border-bottom-left-radius: $border-radius-input-rounded !important;
    border-bottom-right-radius: $border-radius-input-rounded !important;
  }

  .react-select__indicator-separator {
    display: none;
  }

  .react-select__value-container {
    font-size: $input-font-size;
    padding: 5px 8px 4px !important;
    line-height: normal;
    border-radius: $border-radius-input-rounded !important;
    background-color: transparent !important;

    .react-select__single-value {
      padding-top: 0;
    }
  }

  .is-invalid {
    border-color: $border-color-custom-input-invalid;
    background-color: $background-color-custom-input-invalid;
  }
}

.form-check-label input {
  margin-bottom: 4px;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;

    & + span {
      cursor: not-allowed;
      color: rgba(33, 33, 33, 0.7);
    }
  }
}

div:not([class*='col-']) > .custom-input:not(.no-mr) {
  @media (min-width: 768px) {
    margin-right: 16px;
  }
  @media (min-width: 992px) {
    margin-right: 8px;
  }
}

.rc-tree-select-dropdown {
  border: rgba(89, 53, 148, 0.6);
}

.react-select__control.react-select__control--is-disabled,
.react-select__control.react-select__control--is-disabled .react-select__value-container {
  background-color: $background-color-custom-input-disabled !important;
  border-color: $border-color-disabled !important;
  cursor: not-allowed;
}

.required-asterisk {
  color: $required-asterisk-color;
  margin-left: 4px;
}

.form-second-type {
  input {
    border-color: $border-color-second-type;
  }

  label {
    color: $label-color-second-type !important;
  }

  .form-group > input {
    border-color: $border-color-second-type;
    background-color: $background-color-custom-input-second-type;

    &:focus:not(:disabled):not(.disabled),
    &:hover:not(:disabled):not(.disabled) {
      &,
      & + .react-select__menu,
      & + .react-select__menu .react-select__option:not(.react-select__option--is-focused):not(.react-select__option--is-selected) {
        background-color: $background-color-custom-input-focus !important;
        border-color: $border-color-focus-second-type !important;
      }
    }
  }

  .react-select__control,
  .rc-tree-select:not(.rc-tree-select-open) .rc-tree-select-selection,
  textarea {
    &:not(.is-invalid):not(:disabled):not(.disabled):not(:hover):not(:focus):not(.react-select__control--menu-is-open):not(.react-select__control--is-disabled) {
      border-color: $border-color-second-type !important;
      background-color: $background-color-custom-input-second-type !important;
    }

    &:focus:not(:disabled):not(.disabled),
    &:hover:not(:disabled):not(.disabled),
    &.react-select__control--menu-is-open {
      &,
      & + .react-select__menu,
      & + .react-select__menu .react-select__option:not(.react-select__option--is-focused):not(.react-select__option--is-selected) {
        background-color: $background-color-custom-input-focus !important;
        border-color: $border-color-focus-second-type !important;
      }
    }
  }

  .part-form-title {
    margin-bottom: 32px;
  }

  .inputs-wrapper {
    padding: 0 24px;
    margin-bottom: 24px;

    .custom-input
      .form-group
      > input:not(.is-invalid):not(:disabled):not(.disabled):not(:hover):not(:focus):not(.react-select__control--menu-is-open):not(.react-select__control--is-disabled),
    .custom-input
      .react-select__control:not(.is-invalid):not(:disabled):not(.disabled):not(:hover):not(:focus):not(.react-select__control--menu-is-open):not(.react-select__control--is-disabled),
    .react-datepicker__input-container
      input:not(.is-invalid):not(:disabled):not(.disabled):not(:hover):not(:focus):not(.react-select__control--menu-is-open):not(.react-select__control--is-disabled) {
      background-color: #f0f0f0 !important;
    }
  }
}

.tooltip-icon {
  background-color: var(--white);
  color: var(--text-base);
  border: 1px solid #e5e5e5;
}

.tooltip-con--arrow:before {
  border-top-color: #e5e5e5 !important;
}

.react-tabs__tab--selected {
  border-color: var(--event-color);
  background: #fff;
  color: var(--event-color);
  font-family: var(--dm-sans-medium);
}

.react-tabs__tab-list {
  border-bottom: 1px solid var(--event-color);
}
