.file-label {
  display: flex;
  align-items: center;

  .upload-tooltip {
    display: flex;
    flex-direction: column;

    .button {
      display: flex;
      min-height: 42px;
      margin-top: 8px;
      align-items: center;
      justify-content: center;
    }

    & > span:first-of-type {
      color: var(--main-color);
    }

    span.additional {
      color: var(--border-color);
      margin-bottom: 8px;
    }
  }

  span {
    font-family: var(--dm-sans);
    font-weight: 600;
    font-size: var(--size-14);
    margin-left: 8px;
    line-height: normal;
  }

  svg {
    color: var(--event-color);
    height: 25px;
    min-width: 25px;
  }
}
