input.password {
  padding-right: 52px;
}

.password-append {
  position: absolute;
  right: 0;
  top: 0;
}

.button-eye-password {
  min-height: 40px;
  padding-top: 12px;
  padding-bottom: 7px;
  font-size: 0.8125rem;
  border: none;
  background-color: transparent;
  box-shadow: none !important;
  .btn-secondary {
    background: none;
    border: none;
  }

  &:focus {
    background-color: transparent;
  }

  &:not(:disabled):not(.disabled):active,
  &:hover {
    background-color: transparent;
  }
}

.password-view-icon {
  width: 20px;
  height: 20px;
  color: var(--password-icon-color);
}
