.custom-radio {
  margin-bottom: 8px;

  .custom-control-input {
    left: 20px;
    top: 0;
    width: $checkbox-size;
    height: $checkbox-size;
    cursor: pointer;
    z-index: 1;
    margin-top: 0;

    &:active,
    &:checked {
      & ~ .custom-control-label {
        &:before {
          background-color: $checkbox-background-color;
          box-shadow: $box-shadow !important;
          border-color: $checkbox-color;
        }

        &:after {
          background-size: 70%;
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23584cd9' /%3E%3C/svg%3E");
        }
      }
    }

    &:focus:not(:checked) ~ .custom-control-label::before {
      border-color: $checkbox-color;
    }

    &:not(:disabled):active ~ .custom-control-label::before {
      color: $checkbox-background-color;
      background-color: $checkbox-background-color;
    }
  }

  .custom-control-label {
    font-size: $checkbox-label-font-size;
    color: $checkbox-label-color;
    padding-left: 16px;
    font-weight: $checkbox-label-font-weight;

    .text-danger {
      margin-left: 4px;
    }

    &:after,
    &:before {
      position: absolute;
      content: '';
    }

    &:after {
      left: -20px;
      top: 0;
      width: $checkbox-size;
      height: $checkbox-size;
    }

    &:before {
      border-radius: 50%;
      left: -20px;
      top: 0;
      background-color: $checkbox-background-color;
      border: 1px solid $checkbox-color;
      height: $checkbox-size;
      width: $checkbox-size;
      box-shadow: $box-shadow !important;
    }
  }

  .tooltip-for-label {
    visibility: hidden;
    position: absolute;
    top: 20px !important;
    z-index: 1;
  }
}

div:not(.dropdown-menu) .custom-radio {
  &.bold label * {
    font-weight: 700;
  }

  input {
    opacity: 0;
  }

  .custom-control-input {
    left: 20px;
    top: 0;
    width: $checkbox-size;
    height: $checkbox-size;
    cursor: pointer;
    line-height: normal;

    &:active,
    &:checked {
      & ~ .custom-control-label,
      & ~ label {
        &:before {
          background-color: $checkbox-background-color;
          box-shadow: none !important;
          border: 1px solid $checkbox-color;
        }

        &:after {
          background-color: $checkbox-checked-background-color;
          background-image: none;
          background-size: 70%;
        }
      }
    }

    &:focus:not(:checked) ~ .custom-control-label::before,
    &:focus:not(:checked) ~ label::before {
      border-color: $checkbox-color;
    }

    &:not(:disabled):active ~ .custom-control-label::before,
    &:not(:disabled):active ~ label::before {
      color: #fff;
      background-color: $checkbox-checked-background-color;
    }
  }

  .custom-control-label,
  label {
    font-size: $checkbox-label-font-size;
    cursor: pointer;
    color: $checkbox-label-color;
    padding-left: 4px;
    letter-spacing: -0.2px;

    &:after,
    &:before {
      position: absolute;
      content: '';
    }

    &:after {
      left: -16px;
      top: 7px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }

    &:before {
      left: -20px;
      top: 2.5px;
      background-color: $checkbox-background-color;
      border: 1px solid $checkbox-color;
      height: $checkbox-size;
      width: $checkbox-size;
    }
  }
}
