.custom-input {
  textarea {
    padding-top: 16px;
  }

  .textarea-length {
    font-size: var(--size-14);
    color: var(--arrow-color);
    position: absolute;
    top: 0;
    right: 0;
    margin-left: 4px;
    margin-right: 8px;
    overflow: hidden;
  }
}
