.custom-table {
  color: var(--main-color);

  &.table-striped tbody tr:nth-of-type(odd) {
    background: var(--bg-default-color);
  }

  &.table-striped tbody tr:nth-of-type(2n) {
    background: var(--white);
  }

  td {
    border-bottom: 1px solid var(--bg-default-color);
  }

  .row-table {
    //border-bottom: 1px solid var(--white);
  }

  th,
  td {
    text-align: center;
  }

  .header-table th {
    background-color: var(--event-color);
    padding: 10px 24px 9px;
    color: var(--table-header-color);

    &:first-of-type {
      border-bottom-left-radius: 2px;
      border-top-left-radius: 2px;
    }

    &:last-of-type {
      border-bottom-right-radius: 2px;
      border-top-right-radius: 2px;
    }

    &.hand {
      cursor: pointer;
    }

    span {
      color: var(--table-header-color);
      font-size: var(--size-16);

      & + svg.sort-icon {
        margin-left: 4px;
        width: 8px;
      }

      & + svg.info {
        margin: 0 5px;
      }
    }
  }

  tbody tr {
    td {
      padding: 24px;
    }
  }

  td.fixed-last-column:after {
    top: 1px;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .fixed-last-column {
    padding-left: 0;
    padding-right: 0;
    position: sticky;
    right: 0;
    z-index: 0;
    width: 1px;
    white-space: nowrap;

    & > div {
      position: inherit;
      padding-left: 16px;
      padding-right: 24px;
      height: 100%;
      width: 100%;
      z-index: 1;

      & > div {
        padding-left: 24px;
      }
    }
  }
  .action-cell div {
    justify-content: center;
  }
}

.table-responsive {
  padding-top: 24px;
}
