.image-with-text-and-button {
  display: flex;
  margin-bottom: 20px;
  min-height: 250px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  & > div:last-of-type {
    width: calc(3 / 7 * 100%);
  }

  & > div:first-of-type {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: var(--white);
    padding: 40px 32px;
    width: calc(4 / 7 * 100%);

    ul {
      margin-bottom: 12px;
    }

    li {
      margin-bottom: 8px;
    }

    button {
      min-height: 48px !important;
      width: 100%;
    }

    .title {
      font-size: var(--size-24);
      font-family: var(--dm-sans-medium);
      color: var(--gray-800);
      margin-bottom: 12px;
    }
  }
}
