.checkbox-with-input-wrapper {
  background-color: var(--bg-input-color);
  padding: 20px 16px;
  margin-bottom: 16px;

  label span {
    color: var(--main-color) !important;
  }
}

.checkbox-label {
  color: var(--gray-800);
  font-size: var(--size-16);
  font-family: var(--dm-sans-medium);
  letter-spacing: -0.2px;
}
