.wrapper-class {
  border: 1px solid #d1d5db
}

.editor-component {
  background-color: var(--white);
  padding: 20px;
}

.editor-class {
  min-height: 300px;
  padding: 10px;
}

.editor-label {
  padding: 0 0 16px;
}
