.part-form-title {
  font-weight: 700;
  color: #1e1e22;
  margin: 32px 0 8px;

  &:first-of-type {
    margin-top: 0;
  }
  font-size: 1rem;
  overflow: hidden;
  line-height: normal;
}

.second-subtitle {
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  color: #a7a7a7;
  margin-bottom: 24px;

  &.big {
    font-size: 1.125rem;
    margin-bottom: 32px;
  }
}
