.stepper-sections {
  width: 100%;
  .react-tabs__tab {
    border: none;
    border-bottom: 3px solid rgba(233, 122, 40, 0.11);
  }
  .react-tabs__tab--selected {
    border-width: 0;
    border-image-width: 0;

    background: transparent;
    font-family: var(--dm-sans);
  }
  .react-tabs__tab--selected:focus:after {
    opacity: 0;
    margin: 0 5px;
  }
  .react-tabs__tab-list {
    border: none;
  }
  .tab-list-wrapper {
    position: sticky;
    top: 107px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-color);
    padding-bottom: 8px;
  }
  .stepper {
    border-width: 0;
    border-image-width: 0;
    border-bottom: 3px solid #e97a28;
    background: transparent;
    color: var(--event-color);
    font-family: var(--dm-sans);
  }
  .stepper-icon {
    width: 12px;
    height: 12px;
    margin: 1px 0;
  }
}
.properties-options {
  text-align: center;
  .react-tabs__tab--selected {
    border-bottom: 1px solid #E97A28;
    background: transparent;
    font-family: var(--dm-sans);
    font-weight: 500;
  }
}
