.wizard-steps {
  font-size: var(--size-16);
  font-family: var(--dm-sans);
  line-height: var(--size-26);

  div {
    position: relative;
    color: var(--gray-700);
    display: inline-block;
    border-radius: 1px;
    padding: 0 2px 4px;
    margin-bottom: 32px;

    &:not(:first-of-type) span {
      padding-left: 18px;
    }

    &:before {
      position: absolute;
      bottom: 0;
      content: '';
      width: 100%;
      height: 2px;
      background-color: var(--event-color);
      opacity: 15%;
    }

    span {
      border-bottom: 2px solid transparent;
      padding-right: 18px;
      padding-bottom: 4px;
    }

    &.active {
      font-family: var(--dm-sans-medium);
      font-weight: 500;
      color: var(--event-color);

      span {
        border-bottom-color: var(--event-color);
        padding-right: 18px;
      }

      svg path {
        color: var(--event-color);
      }
    }

    svg {
      width: 8px;
      path {
        color: var(--gray-700);
      }
    }

    &:not(:first-of-type):not(:last-of-type) span:first-of-type {
      color: var(--gray-700);
    }

    &:last-of-type {
      pointer-events: none;
    }
  }
}
