@import './../CustomInput/styles/_variables';

$datepicker-calendar-border-color: var(--additional-color) !important;
$datepicker-calendar-border-radius: 8px !important;
$datepicker-calendar-header-bg-color: var(--white) !important;
$datepicker-calendar-header-border-color: var(--white) !important;
$datepicker-calendar-day-font-weight: 100;
$datepicker-calendar-day-font-size: var(--size-14);
$datepicker-calendar-day-color: var(--main-color);
$datepicker-calendar-day-width: 24px !important;
$datepicker-calendar-day-height: 24px !important;
$datepicker-calendar-font: var(--bold-font-family);
$datepicker-calendar-selected-bg: var(--additional-color);
$datepicker-calendar-selected-color: var(--white);
$datepicker-calendar-day-hover-color: var(--additional-color);
$datepicker-calendar-day-hover-bg: var(--additional-color);
$datepicker-calendar-day-outside-color: var(--additional-color);
$datepicker-month-color: var(--additional-color);
$datepicker-month-font-size: var(--size-14);
$datepicker-calendar-navigation-color: var(--additional-color);

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--disabled {
  display: none;
}
.react-datepicker__current-month {
  color: #1d1c1f !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
}

.react-datepicker__day {
  &:hover {
    background-color: #c3c5fd;
  }
}

.react-datepicker__day--disabled {
  &,
  &:hover {
    color: #cccccc !important;
    background-color: white;
    cursor: not-allowed;
  }
}

.react-datepicker-popper {
  @media (max-width: 500px) {
    visibility: hidden;
  }
}

.react-datepicker__input-container {
  &,
  &:focus,
  &:hover {
    [readonly],
    .readonly {
      background-color: $background-color-custom-input-disabled !important;
      border: 1px solid #d7d7d7 !important;
    }
  }

  input {
    border-radius: $border-radius-input-rounded !important;
    padding: $input-padding !important;
    font-size: $input-font-size !important;
    min-height: $input-min-height;

    &:disabled {
      border-color: $border-color-disabled;
    }

    &.big {
      min-height: $input-big-min-height;
    }

    &:not(.is-invalid):not(:disabled):not(.disabled):not(:hover):not(:focus):not(.react-select__control--menu-is-open):not(.react-select__control--is-disabled):not([readonly]) {
      background-color: $background-color-custom-input !important;
      border-color: $border-color !important;
    }

    &:focus:not(:disabled):not(.disabled):not([readonly]),
    &:hover:not(:disabled):not(.disabled):not([readonly]) {
      background-color: $background-color-custom-input-focus !important;
      border-color: $border-color-focus !important;
    }
  }
}

.react-datepicker-mobile-input {
  position: absolute;
  font-size: $input-font-size;
  padding: $input-padding !important;
  height: calc(2.4rem + 3px) !important;
  border: 1px solid transparent;
  border-radius: 0.1rem;
  width: 100%;
  outline: initial;
  pointer-events: none;
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle::before {
  border-bottom-color: $datepicker-calendar-border-color;
}

.react-datepicker-popper[data-placement^='top'] .react-datepicker__triangle::before {
  border-top-color: $datepicker-calendar-border-color;
}

.react-datepicker-popper[data-placement^='left'] .react-datepicker__triangle::before {
  border-left-color: $datepicker-calendar-border-color;
}

.react-datepicker-popper[data-placement^='right'] .react-datepicker__triangle::before {
  border-right-color: $datepicker-calendar-border-color;
}

.react-datepicker-popper .react-datepicker {
  border-color: $datepicker-calendar-border-color;
  border-radius: $datepicker-calendar-border-radius;
}

.react-datepicker__time-container {
  font-family: 'Roboto', sans-serif;

  .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item:hover {
    background-color: #c3c5fd !important;
  }
}

.react-datepicker__input-container input {
  background-color: #e9ecef !important;
  //border-color: transparent !important;
  color: $input-color !important;
}

.custom-input .react-datepicker__day--keyboard-selected {
  background-color: #c0cff5 !important;
}
