.account-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .account-logo {
    margin-right: 25px;
  }

  .top-button {
    min-height: 42px;
  }

  .welcome-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 20px;

    .arrow {
      margin-left: 8px;
      height: var(--size-14);
    }

    & > div {
      margin-left: 8px;
      text-align: right;

      span {
        color: var(--gray-700);
        display: block;
        font-size: var(--size-14);
        line-height: var(--size-14);
      }
    }
  }
}
