$font-color: #3a3a3a;

.basic-modal-without-close {
  .modal-title,
  .modal-subtitle {
    color: $font-color;
    text-align: center;
  }
  .modal-title {
    font-size: 1.3125rem;
  }
  .modal-subtitle {
    font-size: 0.875rem;
    color: #3a3a3a;
    text-align: center;
  }
}
