.strength-bar {
  display: inline;
  list-style: none;
  margin: 0;
  vertical-align: 2px;

  ul {
    padding: 0;
    display: flex;
    margin-bottom: 8px;
  }
}

.point {
  background: #ddd;
  border-radius: 2px;
  display: inline-block;
  height: 2px;
  width: 20%;
  transition: 0.2s ease-in-out all;

  &:last-child {
    margin: 0 !important;
  }
}
