.web-path {
  font-size: var(--size-12);
  font-family: var(--dm-sans);
  line-height: var(--size-26);

  a {
    color: var(--gray-700);

    &:not(:first-of-type):not(:last-of-type) span:first-of-type {
      color: var(--gray-700);
    }

    &:last-of-type {
      pointer-events: none;

      span {
        color: var(--gray-400);
      }
    }
  }
}
