.btn-language {
  padding: 0;
  border-radius: 50%;
  border: none;
  min-height: auto;

  font-size: var(--size-14);
  font-weight: 400;
  line-height: 13px;
  color: var(--language-color);
  &,
  &:focus,
  &:hover,
  &:active {
    background: transparent !important;
    color: var(--language-color) !important;
  }
}
