.pagination {
  .page-item {
    cursor: pointer;
    .page-link {
      background-color: transparent;
      font-size: var(--size-14);
      font-weight: var(--lighter);
      color: var(--main-color);
      border-width: 0;

      svg {
        color: var(--main-color);
        margin-right: 4px;
        margin-left: 4px;
      }
      &.number {
        background-color: var(--white);
        border: 1px solid var(--border-color);
        border-radius: 3px;
        font-weight: 600;
        line-height: normal;
        box-shadow: none;
      }
    }

    &.disabled {
      cursor: not-allowed;
      .page-link,
      svg {
        color: var(--side-color);
      }
    }
    &.active .number {
      border-color: var(--event-color);
      color: var(--event-color);
    }
  }
  #pagination-input {
    //border: 1px solid $border-color-basic;
    width: 64px;
    padding: 4px;
    text-align: center;
    border-radius: 6px;
    margin-left: 4px;
    margin-right: 4px;
    font-size: var(--size-14);
    &,
    &:hover {
      box-shadow: none;
    }
  }
}
