.page-size-wrapper {
  & > span {
    color: var(--side-color);
    font-weight: var(--lighter);
    font-size: var(--size-14);
    margin-right: 8px;
  }

  .btn-page-size {
    color: var(--orange-color);
    font-size: var(--size-16);
    padding: 4px 12px;

    &,
    &:hover,
    &:focus,
    &:active {
      box-shadow: none;
    }

    + .dropdown-menu {
      //border: 1px solid $border-color-basic;
      padding: 0;

      button {
        padding: 4px 8px;
        text-align: center;
        font-size: var(--size-14);
        color: var(--main-color);
      }
    }
  }
}
